/* Fonts family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
/* почему размер шрифта задаеться html, а семейство - body? */
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a,
a:hover {
  color: #48bc14;
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #f7ae01;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fec741), to(#d99901));
  background-image: linear-gradient(to bottom, #fec741, #d99901);
}
/* Оформление форм */
.form {
  /*Поле для ввода*/
  /*Подписи к полям*/
  /*Кнопка в форме*/
}
.form-input {
  display: block;
  margin: 2.7rem 0;
  padding: 1.7rem;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
}
.form-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  margin: -0.4rem 0 1.5rem;
  width: 100%;
  height: 6.5rem;
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 0 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  margin-top: 3rem;
  font-size: 1.8rem;
}
/* main */
.main {
  padding: 3rem 0 4rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /*Подзаголовок*/
  /*Зеленый ярлик*/
  /*Оплата по факту*/
  /*Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 3.7rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4.7rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 4rem 2rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #48bc14;
  text-align: center;
  /*Цифра "300" рублей*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main span:hover {
  background-color: #51d316;
}
.main-trigger {
  display: block;
  margin-top: 3.3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form {
  padding: 4.6rem 5.1rem;
  background-color: #ffffff;
  text-align: center;
  /*Заголовок формы*/
  /*Подпись под кнопкой*/
}
.main-form-header {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
}
/* Подпись сноски со звёздочкой */
.note {
  margin: 3.4rem 3rem 0;
  font-size: 1.2rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.wrap-block .text-of-sm {
  display: block;
}
.wrap-block .text-of-xs {
  display: none;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  /* margin-right: -4rem; */
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* Оформление секции с преимуществами */
.features h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  margin-bottom: 3.5rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.features-block p {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
}
.features-block a {
  text-decoration: underline;
}
.features-img {
  height: 7rem;
  margin-bottom: 6rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 25%;
  z-index: 99;
  width: 1.3rem;
  height: 2rem;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  border: none;
}
.prev {
  left: 2rem;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 100%;
  opacity: 0.6;
}
.prev:hover {
  opacity: 1;
}
.next {
  right: 2rem;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 100%;
  opacity: 0.6;
}
.next:hover {
  opacity: 1;
}
/* Оформление секции с ценами */
.price {
  background: #48bc14 url(../img/prices/prices-bg.jpg) center repeat;
  /* Карточки с тарифами */
}
.price-header-btn {
  margin-top: 2rem;
}
.price-button {
  text-align: right;
}
.price-button-copy-xs {
  display: none;
}
.price-block {
  padding: 1rem 2.5rem 4rem;
  min-height: 50rem;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
}
.price-block h4 {
  margin: 3.5rem auto;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 30rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  min-height: 15rem;
}
.price-list,
.price-list-xs-collapse {
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  list-style: none;
}
.price-list li::before,
.price-list-xs-collapse li::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 0.9rem;
  margin-right: 1rem;
  background: url(../img/prices/price-check.svg) no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.price-list-xs,
.price-list-xs-collapse-xs {
  display: none;
  margin-bottom: 2.5rem;
}
.price-list-xs a,
.price-list-xs-collapse-xs a,
.price-list-xs a:hover,
.price-list-xs-collapse-xs a:hover,
.price-list-xs a:focus,
.price-list-xs-collapse-xs a:focus,
.price-list-xs a:visited,
.price-list-xs-collapse-xs a:visited {
  color: #006b00;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 2px solid #bfdabf;
}
.price-list-xs-body,
.price-list-xs-collapse-xs-body {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.price-br {
  display: none;
}
/* Секция с отзывами */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-slider {
  position: relative;
  margin: 2rem;
  padding: 5.6rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  /* &_photo {
			text-align: center;
		} */
}
.feedback-slider_description {
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 2.2;
}
.feedback-slider .media {
  margin-top: 5rem;
  margin-left: 1rem;
}
.feedback-slider .media span {
  font-size: 1.4rem;
}
.feedback-slider .media-heading {
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
  height: 6rem;
  background-color: #48bc14;
  border: none;
}
.feedback-slider-btn img {
  width: 35%;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-text {
  position: relative;
  margin-top: 2.5rem;
  padding: 2rem 2rem 1rem;
  font-size: 1.6rem;
  line-height: 1.1;
  font-style: italic;
  border: 2px solid #48bc14;
}
.feedback-text::before {
  content: "";
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #48bc14;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 12rem;
  text-align: center;
  background-color: #ffffff;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 45%);
          transform: translate(-50%, 45%);
}
.feedback-btn {
  margin: auto;
  width: 50%;
}
.feedback .hand {
  position: absolute;
  left: -4rem;
  bottom: 0;
  max-width: 30%;
}
.feedback .note {
  display: none;
}
/* Оформление секции со схемой работы */
.scheme {
  background: #ffffff url(../img/scheme/decor-scheme-bg.png) bottom right -10rem no-repeat;
  background-size: 65rem;
  /* 45% */
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.scheme-block p {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.6rem;
}
.scheme-br {
  display: none;
}
/* Оформление секции всё включено */
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .section-header_active {
  margin-bottom: 2rem;
}
.all-inclusive .media {
  height: 7rem;
  margin-top: 8rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #48bc14;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #48bc14;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
/* Оформление секции с проблемами */
.problems {
  position: relative;
}
.problems-woman {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
.problems-list {
  margin-bottom: 2rem;
  padding: 3rem 4rem 0;
  border: 4px solid;
}
.problems-list h4 {
  height: 5rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.1rem;
  color: #000000;
}
.problems-list ul {
  padding: 0;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 4rem;
  font-size: 1.4rem;
  height: 5.2rem;
}
.problems-list ul li:nth-child(3) {
  margin-bottom: 1rem;
}
.problems-list ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 2rem;
  height: 1.5rem;
  background-color: #000;
}
.problems-list_bad {
  border-color: rgba(0, 0, 0, 0.09);
}
.problems-list_bad h4 {
  opacity: 0.4;
}
.problems-list_bad ul {
  opacity: 0.81;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/problems-symbol.svg) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #48bc14;
}
.problems-list_good h4 {
  opacity: 0.81;
}
.problems-list_good ul {
  opacity: 0.81;
}
.problems-list_good ul li:before {
  background: url(../img/problems/checked-symbol.svg) center no-repeat;
  background-size: 80%;
}
.problems_for-s {
  display: none;
  margin: 2rem;
}
.problems_for-s h3 {
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  text-align: center;
}
.problems_for-s p {
  margin-left: 1.4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.3rem;
}
.problems_for-s .solution {
  margin: 1rem 0 2rem;
  padding: 1rem;
  color: #48bc14;
  border: 3px solid #48bc14;
}
.problems_for-s .solution p {
  margin-left: 0;
}
/* Секция с материалами */
.materials {
  background: #ffffff url(../img/materials/materials-bg.jpg) center no-repeat;
  background-size: cover;
}
.materials-block {
  text-align: center;
}
.materials-block h3 {
  margin-bottom: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
}
.materials-block p {
  display: inline-block;
  width: 100%;
  height: 6rem;
  font-size: 1.9rem;
}
.materials-link {
  font-size: 1.6rem;
  text-decoration: underline;
}
.materials-link:hover {
  color: #368e0f;
}
.materials-img {
  height: 100%;
  margin-bottom: 2rem;
}
.materials-img img {
  display: block;
  margin: 0 auto;
}
.materials-offer {
  margin-top: 7rem;
  font-size: 2rem;
  text-align: center;
}
.materials-offer a {
  text-decoration: underline;
}
/* Секция с экскурсией на работу */
.tour {
  background: #ffffff url(../img/tour-bg.jpg) center no-repeat;
  background-size: cover;
}
.tour-subtitle {
  margin-bottom: 3.8rem;
  font-size: 2.2rem;
}
.tour-btn {
  padding: 1rem;
}
/* Секция с дополнительнимы услугами */
.upsell {
  background-color: #006b00;
}
.upsell-block {
  margin: 2rem auto 4rem;
  /* min-height: 15rem; */
  text-align: center;
  color: #ffffff;
}
.upsell-block img {
  width: 100%;
  max-width: 33rem;
}
.upsell-block h4 {
  margin: 3rem 0;
  font-size: 2rem;
}
.upsell-block button {
  font-size: 1.6rem;
}
/* Секция с контактами */
.contacts {
  background: #ffffff url(../img/contacts-bg.jpg) center no-repeat;
  background-size: cover;
}
.contacts h2 {
  margin-bottom: 6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts p {
  margin: 3rem 0 2rem;
  font-size: 1.8rem;
}
.contacts-link,
.contacts-link:focus,
.contacts-link:visited {
  display: inline-block;
  color: #000000;
  text-decoration: underline;
}
.contacts-form {
  padding: 5rem;
  background-color: #ffffff;
  text-align: center;
}
.contacts-form-header {
  display: block;
  margin-top: 0;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
/* Оформление подвала (footer) */
.footer {
  padding: 3rem 0;
}
.footer p {
  margin: 0;
}
.footer-contacts {
  text-align: center;
}
.footer-tel {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.footer-link {
  font-size: 1.7rem;
}
.footer .dev-logo {
  text-align: right;
}
.footer .dev-logo p {
  font-size: 1.1rem;
}
.footer .dev-logo img {
  margin-top: -2rem;
}
/* Оформление модальных окон */
/* Окно от кнопки "получить консультацию" */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
}
.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 3rem 5rem;
  width: 36rem;
  background-color: #ffffff;
}
.popup-close {
  position: absolute;
  top: -2rem;
  right: -3rem;
  width: 3rem;
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  background-color: transparent;
  border: none;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
/* @media */
@media (max-width: 1199px) {
  .price-br {
    display: inline-block;
  }
  .feedback-slider p {
    line-height: 1.3;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .tour {
    background-position: center left 30%;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .note {
    color: white;
    text-align: right;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-slider_description {
    margin-top: 3rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .all-inclusive .media {
    margin-top: 4rem;
  }
  .problems-woman {
    display: none;
  }
  .tour {
    background-position: left;
  }
  .contacts {
    background-position: left;
    text-align: center;
  }
  .footer .logo {
    text-align: center;
  }
  .footer-contacts {
    margin: 3.5rem;
  }
  .footer .dev-logo {
    text-align: center;
  }
  .footer .dev-logo br {
    display: none;
  }
  .footer .dev-logo img {
    margin: 0;
    margin-left: -2rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 9px;
  }
  .main {
    margin-top: 6rem;
    background: #ffffff url(../img/main-bg-mobile.jpg) repeat;
    background-size: cover;
  }
  .section-header {
    margin-bottom: 3rem;
    /* h2 {
			font-size: 3rem;
		} */
  }
  .phone-block {
    margin-top: -17rem;
  }
  .wrap {
    margin-top: -17rem;
  }
  .header {
    text-align: center;
  }
  .note {
    color: black;
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: auto;
  }
  .scheme-br {
    display: inline-block;
  }
  .all-inclusive {
    /* h2 {
			font-size: 3rem;
		} */
  }
  .all-inclusive .media {
    margin-top: 2rem;
  }
  .problems-list {
    padding-bottom: 3rem;
  }
  .problems-list ul li {
    margin-bottom: 1rem;
    height: auto;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 8px;
  }
  /* .main {
		h1 {
			font-size: 3.5rem;
		}
	} */
  .phone-block {
    margin-top: -18rem;
  }
  .wrap {
    margin-top: -18rem;
  }
  .feedback {
    /* .hand {
			display: none;
		} */
  }
  .feedback-slider {
    padding: 3rem;
  }
  .feedback-slider-btn {
    top: 50%;
    width: 3rem;
    height: 5rem;
  }
  .feedback-slider-btn img {
    width: 80%;
  }
  .feedback-slider_description {
    margin-top: 6rem;
  }
  .feedback-btn {
    width: 100%;
  }
  .problems_for-m {
    display: none;
  }
  .problems_for-s {
    display: block;
  }
}
@media (max-width: 559px) {
  .feedback-slider-btn {
    top: 54%;
  }
}
@media (max-width: 520px) {
  .feedback-slider-btn {
    top: 52%;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 7px;
  }
  .main {
    margin-top: 5rem;
  }
  .main h1 {
    font-size: 3rem;
  }
  .phone-block {
    margin-top: -19rem;
  }
  .phone-block .phone-link {
    font-size: 1.4rem;
  }
  .wrap {
    margin-top: -19rem;
  }
  .wrap .text-of-sm {
    display: none;
  }
  .wrap .text-of-xs {
    display: block;
  }
  section {
    padding: 4rem 0;
  }
  .section-header {
    margin: 0 0 4rem;
  }
  .price-button {
    display: none;
  }
  .price-button-copy-xs {
    display: block;
  }
  .price-header-btn-copy-xs {
    margin-top: 4rem;
    width: 100%;
    height: 65px;
  }
  .price-list {
    display: none;
  }
  .price-list-xs {
    display: block;
  }
  .feedback {
    /* чтобы спрятать отступы самого контейнера (они иногда не нужны), но чтобы не было горизонтальной прокрутки */
  }
  .feedback .container {
    padding: 0;
    overflow-x: hidden;
  }
  .feedback-slider {
    margin: 0;
    padding: 1rem;
  }
  .feedback-slider-btn {
    top: 55%;
  }
  .feedback-prev-btn_mob {
    background: none;
    padding: 0;
    left: 1rem;
  }
  .feedback-next-btn_mob {
    padding: 0;
    background: none;
    right: 1rem;
  }
  .feedback h3 {
    font-size: 1.8rem;
  }
  .feedback .note {
    display: block;
  }
  .all-inclusive .section-header_active h2 {
    color: #48bc14;
  }
}
@media (max-width: 470px) {
  .feedback-slider-btn {
    top: 57%;
  }
}
@media (max-width: 450px) {
  .feedback-slider-btn {
    top: 56%;
  }
}
@media (max-width: 440px) {
  .feedback-slider-btn {
    top: 55%;
  }
}
@media (max-width: 430px) {
  .feedback-slider-btn {
    top: 54%;
  }
}
@media (max-width: 410px) {
  .feedback-slider-btn {
    top: 53%;
  }
}
@media (max-width: 380px) {
  .feedback-slider-btn {
    top: 52%;
  }
}
@media (max-width: 370px) {
  .feedback-slider-btn {
    top: 50%;
  }
}
@media (max-width: 350px) {
  .feedback-slider-btn {
    top: 48%;
  }
}
@media (max-width: 330px) {
  .feedback-slider-btn {
    top: 46%;
  }
}
/* екраны от 320px, 480px, 767px, 991px, 1199px, 1500px */
