@import url('https://fonts.googleapis.com/css?family=Courgette');
body {
  background-color: #332e32;
  background-image: url(../img/beads.png), url(../img/beads-down.png);
  background-repeat: no-repeat;
  background-position: 95% 5%, 5% 95%;
  background-size: 20%;
  padding: 4%;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}
p,
a {
  font-family: 'Courgette', sans-serif;
  font-size: 20px;
  color: #fff8dc;
  text-align: right;
}
a {
  font-weight: 900;
}
a:hover {
  color: #ffdead;
}
a:visited {
  color: #f4a460;
}
